DB_PASSWORD=password
DB_USER=username
DB_URI=mongodb0.example.com:27017
DB_CLUSTER_NAME=mycluster
DB_NAME=database
DB_TEST_NAME=test_database
DB_DEV_NAME=dev_database
JWT_SECRET=secret_key
API_KEY=secret_api_key
BUCKET_NAME=bucket_name